Flask==2.0.3
pymongo==4.0.2
pandas==1.4.1
openpyxl==3.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
et-xmlfile==1.1.0
filelock==3.6.0
Flask-Cors==3.0.10
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.3
pycparser==2.21
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
requests-file==1.5.1
six==1.16.0
tldextract==3.2.0
urllib3==1.26.9
Werkzeug==2.0.3
zope.event==4.5.0
zope.interface==5.4.0
bcrypt==3.2.0
PyPDF2==1.27.9
geopy==2.2.0
watchdog==2.1.7
